h1{
    color: red;
}

img:hover{
    background-color: green;
}
.img1{
    background-color: black;
    border-radius: 50%;
}
.img2{
    background-color: orange;
}

#heading{
    background-color: orange;
    width: 30%;
    text-align: center;
}