body{
    margin: 0;
    font-family: 'Merriweather', serif;
    text-align: center;
}

h1{
    font-family: 'Sacramento', cursive;
    color: #6E85B7;
    font-size: 5.2rem;
    margin: 0;

}
h2{
    font-size: 2rem;
}
p{
    color: #898AA6;
}

a{
    text-decoration: none;
}
.container{
    background-color: #C4D7E0;
    position: relative;
    padding-top: 50px;
    text-align: center;
    padding-bottom: 50px;
    
}

.bear-img{
    width: 15%;
    position: relative;
    left: 20%;
    bottom: 3rem;
}

.bear-img2{
    width: 15%;
    position: relative;
    right: 20%;
    bottom: 3rem;
}

.div2{
    margin: 50px;
}

.cv{
    background-color: #C4D7E0;;
    text-align: center;
    width: 20%;
    border: solid #6E85B7;
    display: inline-block;
    margin-right: 40px;
}

.img-cv{
    width: 100%;
}

.img-aboutme{
    width: 100%;
}
.aboutme{
    background-color: #C4D7E0;;
    text-align: center;
    width: 20%;
    border: solid #6E85B7;
    display: inline-block;
}

.img-bacon{
    width: 100%;
    margin: auto;
}
.bacon{
    background-color: #C4D7E0;;
    text-align: center;
    width: 20%;
    border: solid #6E85B7;
    display: inline-block;
    margin-left: 40px;
}